.featureFile
  padding: 1rem

  background-color: #f4f4f4
  border-radius: 0.5rem

  .featureFile-content
    margin-left: 1rem



.featureFile-header
  display: flex
  justify-content: space-between
  align-items: center



.featureFile-controls
  font-size: 0.8em



.featureFile-content
  .featureFile-scenarios
    margin-top: 1rem



.featureFile-filename
  font-size: 0.8em
  color: grey



.featureFile-scenarios
  font-family: monospace

  .featureFile-scenario.-no-content
    margin-left: 2ch



.featureFile-scenario
  .featureFile-scenario-content
    margin-left: 4ch



.featureFile-scenario-content
  white-space: pre
  overflow-x: auto
  overflow-y: hidden



.featureFile-annotation
  display: inline-block
  vertical-align: middle
  padding: 0.1em 0.2em
  border: 1px solid darkblue

  font-size: 0.8em
  border-radius: 0.5em
  color: darkblue
  background-color: lightblue



.featureFile-scenario-annotation
  font-size: 0.7em
