<div class="route-application">

  <header class="route-application-header">
    <div class="route-application-header-item _first">
      <h2>Cornichon: Cucumber/Gherkin viewer</h2>
    </div>

    <div class="route-application-header-item _last">
      {{login-button
        isAuthenticating  = loginTask.isRunning
        isAuthenticated   = session.isAuthenticated
        loginToggleAction = (action (if session.isAuthenticated 'logout' (perform loginTask)))
      }}
    </div>
  </header>{{! header }}



  <main class="route-application-content">
    {{outlet}}
  </main>{{! ocntent }}

</div>{{! route-application}}